@charset "UTF-8";

@font-face {
    font-family: 'Arista-Light';
    src: url(../fonts/Arista-Pro-Alternate-Light-trial.ttf) format('TrueType');
}

@font-face {
    font-family: 'Spring';
    src: url(../fonts/Spring\ Snowstorm.ttf) format('TrueType');
}

:root {
    --font1: Verdana, Tahoma, sans-serif;
    --font3: 'Arista-Light';
    --font5: 'Spring';
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: #616161;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    border-radius: 50px;
    padding-top: 40px;
    font-variant: small-caps;
    font-family: var(--font3);
    font-size: 5em;
    /*font-size: 5vw;*/
    font-weight: normal;
}

header > p {
    padding-bottom: 40px;
}

header a {
    color: blueviolet;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2.1em;
    font-family: var(--font3);
    font-weight: normal;
}

header a:hover {
    text-decoration: underline;
}

main {
    width: 80%;
    margin: auto;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font5);
    /*font-size: 2.5vw;*/
    font-size: 2em;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.img {
    background-color: blueviolet;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.582);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}

section.img > p {
    display: inline-block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.39);
    background-size: cover;
    background-position: right center;
}

section#img01 {
    background-position: right center;
    background-image: url(../img/background001.jpg);
}

section#img02 {
    background-position: right center;
    background-image: url(../img/background002.jpg);
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    color: blueviolet;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}